.full-w-button {
    width: 100%;
}

.section-dd {
    position: absolute;
    top: 17px;
    right: 16px;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.pointer-cursor {
    cursor: pointer;
}

.sm-icon {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.no-margin-jumbotron {
    margin-bottom: 0px;
}

.social-icon {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    font-size: 24px;
    padding-top: 3.5px;
    cursor: pointer;
}

.dark-card {
    background-color: #202020;
}

.themeless-prism {
    border: none !important;
    background: #202020 !important;
    box-shadow: none !important;
    padding: 0px !important;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 190px;
}

#response-editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 190px;
}